body {
  margin: 0;
  margin-top: 150px;
  background: #f3f4f6;
  font-family: "Exo 2", sans-serif;
}

.cv-container {
  width: 950px;
  margin: 60px auto;
  display: grid;
  grid-template-columns: 1.2fr 1.8fr;
  gap: 50px;
}

.photo-frame {
  width: 260px;
  height: 260px;
  margin: 0 auto 30px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background: white;
  border: 8px solid #000;
}

.photo-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cv-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cv-block {
  background: white;
  padding: 20px 25px;
  border-radius: 12px;
  border-left: 6px solid #2b4460;
  box-shadow: 0 3px 10px rgb(0 0 0 / 5%);
}

.cv-block h3 {
  color: #2b4460;
  font-weight: 700;
  font-size: 1.1rem;
  margin: 0 0 12px;
  letter-spacing: 0.5px;
}

.lang-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 14px;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 7px solid #d28a41;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 6px;
}

.identity h1 {
  margin: 0;
  font-size: 2.3rem;
  color: #2b4460;
  font-weight: 700;
}

.identity h2 {
  margin: 5px 0 25px;
  font-size: 1.25rem;
  color: #7b7b7b;
  font-weight: 500;
}

.cv-right .cv-block {
  margin-bottom: 30px;
}

.cv-right h3 {
  color: #2b4460;
  font-size: 1.15rem;
  margin-bottom: 12px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.entry {
  display: flex;
  gap: 15px;
  margin-bottom: 17px;
}

.year {
  width: 80px;
  font-weight: 700;
  color: #d28a41;
  font-size: 1rem;
}

.details strong {
  font-weight: 700;
  color: #2b4460;
  font-size: 1rem;
}

.details p {
  margin: 4px 0 0;
  color: #555;
  font-size: 0.95rem;
  line-height: 1.4;
}

.skill {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #444;
  font-size: 0.95rem;
}

.stars {
  color: #d28a41;
  font-size: 1.2rem;
}

@media (width <= 1100px) {
  .cv-container {
    width: 92%;
    grid-template-columns: 1fr;
  }

  .photo-frame {
    margin: 0 auto;
  }

  .cv-block {
  background: white;
  padding: 20px 25px;
  border-radius: 12px;
  border-left: 6px solid #2b4460;
  box-shadow: 0 3px 10px rgb(0 0 0 / 5%);
  margin-bottom: 25px;
}
}
