.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #111;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background 0.2s;
}

.btn:hover {
  background: #333;
}

.portfolio-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.portfolio-btn {
  padding: 18px 55px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 900;
  background: #50a9ed;
  color: #fdfdff;
  transition: all 0.2s ease;
  border-radius: 7px;
}

.portfolio-btn:hover {
  background: #333;
  color: #fff;
  transform: translateY(-2px);
}
