.projects {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  box-shadow: 0 8px 10px rgb(1 6 55 / 30%), 0 8px 10px rgb(1 6 55 / 30%), 0 8px 10px rgb(1 6 55 / 30%);
  border-radius: 7px;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-3px);
}

.project-card h2 {
  margin-top: 0;
}

.project-card h3 {
  margin-top: 0;
}

.project-card p {
  color: rgb(255 255 255);
  font-weight: 400;
}

.project-card a {
  border-radius: 999px;
}

.eversport-card a.btn {
  margin-top: 20px;
  display: inline-block;
}

.eversport-card {
  background-image: url("../../image/eversportzone.png");
  background-size: cover;
  background-position: center;
  color: rgb(255 255 255);
  position: relative;
  overflow: hidden;
  justify-content: flex-end;
}

.eversport-card h3 {
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  text-shadow: 1px 1px 4px rgb(0 0 0 / 70%);
}

.eversport-card h3,
.eversport-card p {
  max-width: 80%;
}

.eversport-card .eversport-subtext {
  position: absolute;
  justify-content: center;
  top: 90px;
  right: 20px;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: right;
  text-shadow: 1px 1px 4px rgb(0 0 0 / 70%);
  line-height: 1.3;
}

.blueprint-card {
  background-image: url("../../image/1704ab48-949a-4c9c-bbed-351882fae3c4.png");
  background-size: cover;
  background-position: center;
  backdrop-filter: none;
  background-color: transparent;
  color: rgb(255 255 255);
}

.blueprint-card a.btn {
  margin-top: 50px;
  display: inline-block;
}

.buddy {
  color: white;
  box-shadow: 0 8px 10px rgb(1 6 55 / 30%), 0 8px 10px rgb(1 6 55 / 30%), 0 8px 10px rgb(1 6 55 / 30%);
  border-radius: 7px;
  overflow: hidden;
  position: relative;
  background-color: #0a0439;
}

/* * { outline: 1px solid red !important; } */
